{% extends 'default/base.html' %}
{% block content %}
<div class="row" id="trade-actions-wrap"></div>

<div class="row">
    <div class="col-xs-12">
        <h2>Trade Request Form</h2>
        <p>Fill out our trade request form below. Once your submission has been processed you'll be notified as soon as a trade match has been identified.</p>
    </div>
    <div class="col-xs-12 step">
        <h2><span>Step 1:</span> List Items for Trade</h2>
        <p>Please enter the ISBN numbers for the books you have to trade and the ISBN numbers for the books you are looking to trade for.</p>
    </div>
    <div class="col-xs-12 col-xs-6 trade-column" id="books-to-trade">
        <h3>Books To Trade</h3>
        <p>List the books you are offering to trade here</p>
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-xs-10">
                    <input type="text" class="form-control" id="inputPassword3" placeholder="ISBN">
                </div>
                <div class="col-xs-2 add-line">
                    <!-- button must disapear if input line is availalbe -->
                </div>
                <div class="col-xs-10">
                    <input type="text" class="form-control" id="inputPassword3" placeholder="ISBN">
                </div>
                <div class="col-xs-2 add-line">
                    <div class="add-button">
                        <p>+</p>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-xs-12 col-xs-6 trade-column">
        <h3>Books You Want</h3>
        <p>List the books you are looking for here.</p>
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-xs-10 ">
                    <input type="text" class="form-control" id="inputPassword3" placeholder="ISBN">
                </div>
                <div class="col-xs-2 add-line">
                </div>
                <div class="col-xs-10 ">
                    <input type="text" class="form-control" id="inputPassword3" placeholder="ISBN">
                </div>
                <div class="col-xs-2 add-line">
                    <div class="add-button">
                        <p>+</p>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-xs-12">
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#trade-request-confirmation" aria-expanded="false" aria-controls="trade-request-confirmation" style="float:right; margin-top: 35px; margin-bottom: 35px">Submit Trade Request</button>
    </div>
    <div class="col-xs-12 collapse" id="trade-request-confirmation">
        <div class="alert alert-success" role="alert"><b>Success!</b> Your trade request has been successfully submitted and your desired books have been added to your wishlist.</div>
    </div>
</div>
<div class="row" id="rent-FAQ">
    <h2>Trade FAQs</h2>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Do I have to send my book into Textrade first in order to find a trade?</a></h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">This is where we mention something about pricing and how people should conduct current market research on their specific title.<br><br>The other thing that we should say is wether or not we will set a maximum price a title can be sold for, and a freindly hint that it's a buyer's market, so pricing your book super high is never going to produce a renter... Maybe we should have limits for each book given it's quality.</div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Can I conduct trades in person instead of shipping in my book to Textrade?</a></h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">What happens if I damage my rental?</a></h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}