.carousel-example-generic
    background: white
.carousel-inner
    height: 400px
    margin-top: 75px
#quick-blurbs
    .blurb
        padding: 5%
        text-align: center
        h3
            color: $off-blue
            