@import variables
@import home
@import login
@import the-team
@import footer
@import nav
    
body 
    font-family: Open Sans, sans-serif
    background: $blue
    
nav
    width: 100%
.row
    padding: 5% 10%
    background: white
p 
    font-size: 14px
