#rent-form-wrap    
    // wraps the image box and the browse button
    #image-select
        #book-cover-image
            height: 250px
            width: 175px
            border: solid 1px grey
            margin: auto
        button
            margin: auto
    .fix-margin
        input
            margin: 10px 0
    textarea
        margin: 10px 0
    h2
        margin-top: 50px
    p
        margin-bottom: 35px    