.page-header
    text-align: center
    padding: 20px 0
    #team-photo
        width: 80%
        height: auto
        margin: auto
#team-member-profiles
    background: $sea-foam
    color: white
    .team-member
        padding: 10px
        text-align: center
        .circular
            width: 160px
            height: 160px
            border-radius: 80px
            -webkit-border-radius: 80px
            -moz-border-radius: 80px
            background: $blue
            margin: auto
            img
                width: 300px
                height: auto
                border-radius: 150px
                -webkit-border-radius: 150px
                -moz-border-radius: 150px
#mission
    text-align: center
    
    color: $blue
    h1
        
        margin-bottom: 25px
        font-weight: 300
        font-family: Oswald, sans-serif
    h3
        margin-bottom: 15px
    p
        margin: 0 10%
        font-weight: 300