nav {
  background: white;
  margin: 0;
  padding: 0;
  margin-bottom: 150px;
}

.navbar {
  background: white;
}

.navbar .container-fluid {
  background: white;
  max-width: 1080px;
}

.navbar .container-fluid .navbar-header, .navbar .container-fluid .navbar-collapse {
  background: white;
}

.navbar .container-fluid .navbar-header button, .navbar .container-fluid .navbar-header a, .navbar .container-fluid .navbar-collapse button, .navbar .container-fluid .navbar-collapse a {
  color: black;
}

@media (min-width: 786px) {
  .navbar .container-fluid .navbar-header ul, .navbar .container-fluid .navbar-collapse ul {
    margin-left: 50px;
  }
}

.navbar .container-fluid .navbar-header ul a, .navbar .container-fluid .navbar-collapse ul a {
  color: black;
}

@media (min-width: 786px) {
  .navbar .container-fluid .navbar-header form, .navbar .container-fluid .navbar-collapse form {
    float: right;
  }
}

#footer {
  background: #1976D2;
  color: white;
  padding: 10px 50px 20px 50px;
  border-top: solid 20px #64B5F6;
}

#footer h2, #footer h4 {
  text-align: center;
}

#footer h4 {
  font-weight: 300;
  margin-bottom: 50px;
}

#footer footer ul {
  list-style: none;
}

#footer footer ul li {
  list-style: none;
  padding-left: 0;
  text-align: left;
}

#footer footer ul li a {
  color: white;
}

#footer #copyright {
  text-align: center;
  margin-top: 25px;
}

.center-all {
  padding: 25px 0;
  height: auto;
  border-top: solid 1px #F5F5F5;
  border-bottom: solid 1px #F5F5F5;
  text-align: center;
}

@media (min-width: 786px) {
  .center-all {
    height: 70vh;
  }
  .center-all .col-xs-12 {
    float: none;
    margin: auto;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
  }
  .center-all .col-xs-12 img {
    height: 200px;
  }
}

.center-all h2 {
  font-weight: 300;
}

.center-all p.grow {
  font-size: 18px;
}

.center-all.even {
  background: white;
}

.center-some {
  padding: 50px 25px;
  min-height: 60vh;
  border-top: solid 1px #F5F5F5;
  border-bottom: solid 1px #F5F5F5;
  text-align: center;
}

.center-some .affect {
  margin: auto;
  top: 25%;
  -ms-transform: translateY(-25%);
  -webkit-transform: translateY(-25%);
}

.center-some .affect img {
  height: 200px;
}

.center-some h2 {
  font-weight: 300;
}

.center-some p.grow {
  font-size: 18px;
  color: #64B5F6;
}

.center-some .stay-top {
  float: left;
}

.center-some .stay-top h1 {
  font-weight: 300;
  text-align: left;
}

.center-some .stay-top h1 span {
  color: #64B5F6;
}

.center-some.even {
  background: white;
}

#circular-1 {
  width: 160px;
  height: 160px;
  border-radius: 80px;
  -webkit-border-radius: 80px;
  -moz-border-radius: 80px;
  background: url(../../img/brittany.jpg) center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
}

#circular-1 img {
  width: 300px;
  height: auto;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
}

#circular-2 {
  width: 160px;
  height: 160px;
  border-radius: 80px;
  -webkit-border-radius: 80px;
  -moz-border-radius: 80px;
  background: url(../../img/chris.jpg) center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
}

#circular-2 img {
  width: 300px;
  height: auto;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
}

#circular-3 {
  width: 160px;
  height: 160px;
  border-radius: 80px;
  -webkit-border-radius: 80px;
  -moz-border-radius: 80px;
  background: url(../../img/nina.jpg) center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
}

#circular-3 img {
  width: 300px;
  height: auto;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
}

.login-page-row {
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.5)), url(../../img/books-magazines-building-school.jpg) center center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  top: 0;
  position: relative;
}

#login-wrap {
  margin: auto;
  margin-top: 25vh;
  margin-bottom: 100px;
  width: 350px;
  padding: 20px 0px;
  height: auto;
  background: #f2f2f2;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  opacity: 1;
}

#login-wrap #login-dialog {
  background: white;
  border-radius: 5px;
  width: 90%;
  margin: auto;
  padding: 10% 5%;
  opacity: 1;
}

#login-wrap #login-dialog h3 {
  text-align: center;
  font-weight: 300;
  color: #1976D2;
}

#login-wrap #login-dialog form {
  margin: auto;
  margin-top: 40px;
  width: 90%;
  height: 200px;
}

#login-wrap #login-dialog form input {
  width: 100%;
  height: 44px;
  font-size: 1.3em;
  -webkit-appearance: none;
  background: #fff;
  border: none;
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 5px 0;
  font-weight: 300;
}

#login-wrap #login-dialog form #submit {
  width: 100%;
  display: block;
  margin: 15px 0;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  position: relative;
  background: #2196F3;
  color: white;
  border: none;
}

#login-wrap #login-dialog form #login-help {
  font-size: 12px;
  text-align: center;
}

#filterBar {
  background: white;
  color: #424242;
}

@media (min-width: 786px) {
  #filterBar {
    border-right: 5px solid #E0E0E0;
    height: 100%;
  }
}

#filterBar span {
  color: #424242;
  -webkit-transition-duration: 1.5s;
  -moz-transition-duration: 1.5s;
  -o-transition-duration: 1.5s;
  -o-transition-duration-transition-duration: 1.5s;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -o-transition-property-transition-property: transform;
}

#filterBar span:hover {
  color: #616161;
}

#filterBar span:active {
  color: #616161;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

#filterBar form .col-xs-12 {
  margin: 2px 0;
}

#filterBar form hr {
  margin: 0;
}

#filterBar form .filter-type {
  font-weight: bolder;
}

#resultsWrap {
  background: #EEEEEE;
  height: 100%;
}

#resultsWrap #resultsBar {
  background: #EEEEEE;
  color: #64B5F6;
  padding-top: 10px;
  border-bottom: 3px solid #03A9F4;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

#resultsWrap .listing, #resultsWrap .whiteBlock {
  background: #fafafa;
  border-top-right-radius: 5px;
  border-top-bottom-radius: 5px;
  margin: 10px 0;
  border-left: solid 5px #1976D2;
  -webkit-box-shadow: 1px 1px 5px 4px #e0e0e0;
  -moz-box-shadow: 1px 1px 5px 4px #e0e0e0;
  box-shadow: 1px 1px 5px 4px #e0e0e0;
}

.modal {
  border: none;
}

.modal .modal-dialog {
  border: none;
}

.modal .modal-dialog .modal-content .modal-header {
  background: #1976D2;
  border-top: solid 20px #64B5F6;
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.modal .modal-dialog .modal-content .modal-body {
  padding: 15px 20px;
}

.gray {
  background: #EEEEEE;
}

.whiteBlock {
  background: #fafafa;
}

.smallIMG {
  height: 50px;
  text-align: center;
  margin: 0 0 10px 0;
}

body {
  background: white;
  color: #212121;
  font-family: "Roboto", sans-serif;
}

body #footer a {
  color: white;
}

body .jumbo {
  margin-top: 100px;
  height: auto;
  text-align: center;
  padding-bottom: 75px;
}

body .jumbo img {
  height: 300px;
  margin: 0;
}

body .jumbo h3 {
  font-weight: 300;
  margin-top: 0;
}

body .jumbo button {
  background: #2196F3;
  border: none;
  margin-bottom: 50px;
}

body .jumbo button a {
  color: white;
}

body .page-header {
  height: 200px;
  margin-top: 50px;
  margin-bottom: 0px;
  padding-left: 20px;
  background: linear-gradient(to right, #1976D2, #0277BD);
  color: white;
  border-bottom: 15px solid #64B5F6;
}

@media (min-width: 786px) {
  body .page-header {
    height: 300px;
    margin-top: 100px;
    padding-left: 50px;
  }
  body .page-header .col-xs-12, body .page-header .col-xs-6 {
    position: relative;
    top: 75%;
    -ms-transform: translateY(-75%);
    -webkit-transform: translateY(-75%);
    transform: translateY(-75%);
  }
  body .page-header .col-xs-12 .page-title, body .page-header .col-xs-6 .page-title {
    font-size: 8vw;
  }
  body .page-header .col-xs-2 img {
    max-width: 150px;
  }
}

@media (max-width: 1050px) {
  body .push-down {
    margin-top: 100px;
  }
}

@media (min-width: 1050px) {
  body .push-down {
    margin-top: 100px;
  }
}

body #quick-about {
  text-align: center;
  padding: 25px 0;
  height: 50vh;
  background: white;
}

body #quick-about .col-xs-12 {
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

body #quick-blurbs {
  padding: 25px 10px 25px 0;
  height: auto;
  border-top: solid 1px #F5F5F5;
  border-bottom: solid 1px #F5F5F5;
}

@media (min-width: 786px) {
  body #quick-blurbs {
    height: 60vh;
  }
}

body #quick-blurbs .quick-img {
  text-align: center;
}

@media (min-width: 786px) {
  body #quick-blurbs .quick-img {
    vertical-align: middle;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

body #quick-blurbs .quick-img img {
  height: 150px;
}

@media (min-width: 786px) {
  body #quick-blurbs .quick-img img {
    height: 200px;
  }
}

@media (min-width: 786px) {
  body #quick-blurbs .quick-text {
    position: relative;
    top: 40%;
    -ms-transform: translateY(-40%);
    -webkit-transform: translateY(-40%);
    transform: translateY(-40%);
  }
}

body #quick-blurbs .quick-text h2 {
  color: #424242;
  font-weight: 300;
}

body #quick-blurbs.even {
  background: white;
}

.btn-primary {
  background: #2196F3;
  border: none;
}

.even {
  background: white;
}

.odd {
  background: #f5f5f5;
}

.odd, .even {
  padding: 20px 0;
}

ol li {
  font-size: 18px;
  font-weight: 500;
  color: #9E9E9E;
}

ol p {
  margin: 10px 0 15px 0;
}

.fill {
  height: 50vh;
}

.contactContainer {
  text-align: center;
}

@media (max-width: 786px) {
  .contactContainer {
    text-align: left;
  }
}

.contactContainer .contactImg {
  min-width: 400px;
  max-width: 550px;
}
