//- Verify an account
extends ../template.jade
//- Where you write the content
block content
  h2 Hi John
  p Welcome to Textrade! We're excited to have you. Before you can start renting and trading on Textrade you'll have to veryify your account. To do so, simply click the link below, or let us know if you're having a problem.
  button.btn-primary Verify your account
