//- Verify an account
extends ../template.jade
//- Where you write the content
block content
  h2 Hi John
  p Forgot your password? We've got you covered. Click the link below to reset your password.
  button.btn-primary Reset your password
