extends ../templates/default.jade

block content
  .row.page-header.theTeam
    .col-xs-12.col-sm-6
      h1.page-title The Team
  .center-some.row.odd 
    .col-xs-12.stay-top.col-md-8.col-md-offset-2
      h1 Management: 
        span Business Savy Brainiacs
      hr
    .col-xs-12.col-md-8.col-md-offset-2  
      .col-xs-12.col-sm-4
        #circular-1.circular
        h2 Brittany
        p.grow Position 1
        br
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
      .col-xs-12.col-sm-4
        #circular-1.circular
        h2 Chris
        p.grow Position 2
        br
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
      .col-xs-12.col-sm-4
        #circular-1.circular
        h2 Tim
        p.grow Position 3 
        br
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  
  .center-some.row.even  
    .col-xs-12.stay-top.col-md-8.col-md-offset-2
      h1 Web Developers: 
        span Fueled By Hot Sauce
      hr
    .col-xs-12.col-md-8.col-md-offset-2   
      .col-xs-12.col-sm-6
        #circular-1.circular
        h2 Daniel
        p.grow Back-End Master
        br
        p Fluent in Python and all things magical. 
      .col-xs-12.col-sm-6
        #circular-2.circular
        h2 Nina
        p.grow Front-End 
        br
        p Getting groovy with Jade and Sass            
  include ../templates/modals/createNewAccount.jade
