<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Textrade</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,700,500italic" rel="stylesheet" type="text/css">
    <!-- Latest compiled and minified CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/styles/css/main.css">
  </head>
  <body>
    <div id="page-wrap" class="container-fluid">
        <nav class="navbar navbar-default navbar-fixed-top container-fluid col-xs-12">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display-->
            <div class="navbar-header">
              <button type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="{{ url_for('index') }}" class="navbar-brand">Textrade</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling-->
            <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                <li><a href="{{ url_for('search') }}">Marketplace</a></li>
                <li><a href="{{ url_for('our_services') }}">Our Services</a></li>
                <li><a href="{{ url_for('team') }}">The Team</a></li>
                <li><a href="{{ url_for('faqs') }}">FAQs</a></li>
                {% if g.user.username %}
                    <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
                {% endif %}
                <li>
                    {% if not g.user.username %}
                        <a href="{{ url_for('login') }}">Login</a>
                    {% else %}
                        <a href="{{ url_for('logout') }}">Logout</a>
                    {% endif %}
                </li>
              </ul>
              <form role="search" name="search" class="navbar-form">
                <div class="form-group">
                  <input type="text" placeholder="Search Book Titles by Name or ISBN" style="width:300px" class="form-control">
                </div>
                <button type="submit" aria-label="Left Align" class="btn btn-default"><span aria-hidden="true" class="glyphicon glyphicon-search"></span></button>
              </form>
            </div>
            <!-- /.navbar-collapse-->
          </div>
          <!-- /.container-fluid-->
        </nav>
        {% block content %}
        {% endblock %}

        {% block footer %}
            <div id="footer" class="row">
              <footer class="col-xs-12 col-sm-6 col-sm-offset-3">
                <h2>Textrade</h2>
                <h4>An Educated Book Buying Market</h4>
                <ul class="col-xs-12 col-md-3">
                  <li><a href="{{ url_for('team') }}" style="color:white">The Team</a></li>
                  <li><a href="{{ url_for('contact') }}" style="color:white">Contact</a></li>
                </ul>
                <ul class="col-xs-12 col-md-3">
                  <li><a href="{{ url_for('our_services') }}" style="color:white">Services</a></li>
                  <li><a href="{{ url_for('our_services') }}#rent" style="color:white">Rent</a></li>
                  <li><a href="{{ url_for('our_services') }}#trade" style="color:white">Trade</a></li>
                </ul>
                <ul class="col-xs-12 col-md-3">
                  <li><a href="{{ url_for('search') }}" style="color:white">Marketplace</a></li>
                </ul>
                <ul class="col-xs-12 col-md-3">
                  <li><a href="{{ url_for('login') }}" style="color:white">Login</a></li>
                </ul>
              </footer>
              <p id="copyright" class="col-xs-12">Copyright (c) 2015 Textrade All Rights Reserved.</p>
            </div>
        {% endblock %}
    <!-- close .container-fluid-->
    </div>
    {#  JavaScript Dependecies  #}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </body>
</html>