{% extends 'default/base.html' %}

{% block content %}
        <div id="carousel-example-generic" class="carousel slide row" data-ride="carousel">
            <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="/static/img/books-colorful-harry-potter.jpg" alt="...">
                    <div class="carousel-caption">
                        ...
                    </div>
                </div>
                <div class="item">
                    <img src="/static/img/books-magazines-building-school.jpg" alt="...">
                    <div class="carousel-caption">
                        ...
                    </div>
                </div>
                 <div class="item">
                    <img src="/static/img/calculator-scientific.jpg" alt="...">
                    <div class="carousel-caption">
                        ...
                    </div>
                </div>
                ...
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

        <div class="row" id="quick-about">
            <div class="col-xs-12">
                <h1>Welcome to Textrade</h1>
                <h3>A new way to buy, sell, and rent textbooks.</h3>

                <h4 id="incentive">Get started today</h4>
                <button class="btn btn-default"><a href="#" data-toggle="modal" data-target="#create-account-modal">Create Account</a></button>
                <!-- Modal For Account Creation-->
                <div class="modal fade" id="create-account-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h3 class="modal-title" id="myModalLabel">Register</h3>
                                        </div>
                                        <div class="modal-body form-horizontal" id=
"register-form">
                                            <form>
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Name</label>
                                                    <input type="firstName" class="form-control" id="firstName" placeholder="First">
                                                    <input type="lastName" class="form-control" id="lastName" placeholder="Last">
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputPassword1">UML Student Email</label>
                                                    <input type="email" class="form-control" id="email" placeholder="Email">
                                                    <p class="note">*You must have a UML email to register with Textrade</p>
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputPassword1">Username</label>
                                                    <input type="username" class="form-control" id="username" placeholder="Username">
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputPassword1">Password</label>
                                                    <input type="password-create" class="form-control" id="password-create" placeholder="Password">
                                                    <input type="password-confirm" class="form-control" id="password-confirm" placeholder="Confirm Password">
                                                </div>
                                            </form>
                                        </div><!-- close form container -->
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Save changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
            </div>
        </div>

        <div class="row" id="quick-blurbs">
            <!-- Small table row that explains the benifits and the mission of textrade -->
            <div class="blurb col-md-4 col-xs-12">
                <img src="/static/img/treasure.svg">
                <div class="blurb-text">
                    <h3>Benefits of Trade</h3>
                    <p>Books are like apples and oranges, but sometimes you need that orange.</p>
                </div>
                <button>Learn More</button>
            </div>
            <div class="blurb col-md-4 col-xs-12">
                <img src="/static/img/map.svg">
                <div class="blurb-text">
                    <h3>Our Mission</h3>
                    <p>No one like's a bad deal, so we'll never give you one</p>
                </div>
                <button>Learn More</button>

            </div>
            <div class="blurb col-md-4 col-xs-12">
                <img src="/static/img/treasure.svg">
                <div class="blurb-text">
                    <h3>Benefits of Rent</h3>
                    <p>Profit like the kings do! Earn money off the books you own.</p>
                </div>
                <button>Learn More</button>
            </div>
        </div>

{% endblock %}