{% extends 'default/base.html' %}
{% block content %}
<div class="row" id="rent-actions-wrap">
    <div class="col-xs-6 rent-actions">
        <div class="text-wrap">
            <h2>Rent Your Book Out</h2>
            <p>Keep ownership, make money. Year after year, after year!</p>
        </div>
        <button type="button" class="btn btn-default"><a href="rent-your-book.html">Rent Your Book</a></button>
    </div>
    <div class="col-xs-6 rent-actions">
        <div class="text-wrap">
            <h2>Search For Available Books</h2>
            <p>Keep the wealth in the UML family. Search for books near you.</p>
        </div>
        <button type="button" class="btn btn-default"><a href="rental-books-search.html">Search for Books</a></button>
    </div>
    <div class="col-xs-12 create-account-include">
        <p id="incentive">Don't have an account? <span><a href="#" data-toggle="modal" data-target="#create-account-modal">Create one</a></span></p>
    </div>
</div>

<div class="row" id="rent-FAQ">
    <h2>Rent FAQs</h2>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">How do I know how much to rent my book out for?</a></h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">This is where we mention something about pricing and how people should conduct current market research on their specific title.<br><br>The other thing that we should say is wether or not we will set a maximum price a title can be sold for, and a freindly hint that it's a buyer's market, so pricing your book super high is never going to produce a renter... Maybe we should have limits for each book given it's quality.</div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Am I renting through Textrade or UML Students?</a></h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">What happens if I damage my rental?</a></h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</div>
            </div>
        </div>
    </div>
</div>
<!-- Modal For Account Creation-->
<div class="modal fade" id="create-account-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" id="myModalLabel">Register</h3>
            </div>
            <div class="modal-body form-horizontal" id=
"register-form">
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Name</label>
                        <input type="firstName" class="form-control" id="firstName" placeholder="First">
                        <input type="lastName" class="form-control" id="lastName" placeholder="Last">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">UML Student Email</label>
                        <input type="email" class="form-control" id="email" placeholder="Email">
                        <p class="note">*You must have a UML email to register with Textrade</p>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Username</label>
                        <input type="username" class="form-control" id="username" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password-create" class="form-control" id="password-create" placeholder="Password">
                        <input type="password-confirm" class="form-control" id="password-confirm" placeholder="Confirm Password">
                    </div>
                </form>
            </div><!-- close form container -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
