{% macro delete_rental_request_modal(request) %}
    <!-- Modal: Delete Rental Request -->
    <div class="modal fade" id="delete-rental-request-{{ request.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h3 class="modal-title" id="myModalLabel">Delete Rental Request: Confirmation</h3>
                </div>
                <p style="padding: 20px;">Are you sure you want to delete the following rental request?</p>
                <ul>
                    <li><strong>Title:</strong>{{ request.book.name }}</li>
                    <li><strong>Cost:</strong> $55/semester</li>
                    <li><strong>To:</strong> @{{ request.renter.username }}</li>
                </ul>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <a href="{{ url_for('delete_rental_request', request_id=request.id) }}"><button type="button" class="btn btn-primary">Yes, Delete Request</button></a>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}