 {% macro approve_trade_modal(trade) %}
        <div class="modal fade" id="accept-trade-request-{{ trade.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h3 class="modal-title" id="myModalLabel">Accept Trade Request: Confirmation</h3>
                    </div>
                    <p style="padding: 20px;">Are you sure you want accept the following trade request?</p>
                    <ul>
                        <li><strong>Title:</strong> {{ trade.book_one }}</li>
                        <li><strong>For:</strong> {{ trade.book_two }}</li>
                    </ul>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <a href="{{ url_for('approve_trade_request', trade_id=trade.id) }}">
                            <button type="button" class="btn btn-primary">Confirm Trade</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
 {% endmacro %}

{% macro decline_trade_modal(trade) %}
    <div class="modal fade" id="decline-trade-request-{{ trade.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h3 class="modal-title" id="myModalLabel">Decline Trade Request: Confirmation</h3>
                </div>
                <p style="padding: 20px;">Are you sure you want to decline the following trade request?</p>
                <ul>
                    <li><strong>Title:</strong> {{ trade.book_one }}</li>
                    <li><strong>For:</strong> {{ trade.book_two }}</li>

                </ul>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <a href="{{ url_for('decline_trade_request', trade_id=trade.id) }}">
                        <button type="button" class="btn btn-primary">Yes, Decline Trade</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}