{% extends 'default/base.html' %}
{% block content %}
    <div class="row page-header theTeam">
      <div class="col-xs-12 col-sm-6">
        <h1 class="page-title">Contact</h1>
      </div>
    </div>
    <div class="row odd">
      <div class="col-xs-12 contactContainer"><img src="/static/img/logoBW.png" class="contactImg"></div>
    </div>
    <div class="row even">
      <div style="text-align:left" class="col-xs-12 col-md-4 col-md-offset-2">
        <h3 style="color:#1976D2">Email</h3><br>
        <p><strong>General Inquiries</strong></p>
        <p>contact@Textrade.com</p>
        <hr>
        <p><strong>Account Issues</strong></p>
        <p>accounts@Textrade.com</p>
        <hr>
        <h3 style="color:#1976D2">Textrade Trucks</h3><br>
        <p><strong>North Truck</strong></p>
        <p>123 Blueberry Lane</p>
        <p>Gummydrop, Diabetes 01234</p>
        <hr>
        <p><strong>South Truck</strong></p>
        <p>123 Hangover Lane</p>
        <p>Lotsabooze, Bad 01212</p>
        <hr>
      </div>
      <div style="text-align:left" class="col-xs-12 col-md-6">
        <h2 style="color:#1976D2">Drop Us A Line</h2>
        <div class="col-xs-12">
          <form id="contactForm" style="max-width:550px" class="form-horizontal">
            <div class="form-group col-xs-12">
              <label>Name</label>
              <input type="text" placeholder="John Smith" name="contactName" class="form-control">
            </div>
            <div class="form-group col-xs-12">
              <label>Email</label>
              <input type="email" placeholder="johnsmith@example.com" name="contactEmail" class="form-control">
            </div>
            <div class="form-group col-xs-12">
              <label>Subject</label>
              <select class="form-control">
                <option>Option 1</option>
                <option>Option 1</option>
                <option>Option 1</option>
              </select>
            </div>
            <div class="form-group col-xs-12">
              <label>Message</label>
              <textarea type="text" placeholder="Your message here" name="contactMessage" rows="6" class="form-control"></textarea>
            </div>
            <div class="form-group col-xs-12">
              <button type="button" class="btn btn-primary pull-right">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Modal Creat Account-->
    <div id="create-account-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" class="modal fade">
      <div role="document" class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
            <h3 id="myModalLabel" class="modal-title">Register with Textrade</h3>
          </div>
          <div class="modal-body">
            <p>Fill out the form below to create your Textrade account. You'll need a ".uml.edu" email address in order to register your account.</p><br>
            <form class="form-horizontal">
              <div class="form-group">
                <label for="newAccountName" class="col-sm-3 control-label">Name</label>
                <div class="col-sm-9">
                  <input id="newAccountName" type="text" placeholder="John Smith" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label for="newAccountEmail" class="col-sm-3 control-label">UML Email</label>
                <div class="col-sm-9">
                  <input id="newAccountEmail" type="email" placeholder="john_smith@student.uml.edu" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label for="newAccountUsername" class="col-sm-3 control-label">Username</label>
                <div class="col-sm-9">
                  <input id="newAccountUsername" type="text" placeholder="johnSmith93" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label for="newAccountPassword" class="col-sm-3 control-label">Password</label>
                <div class="col-sm-9">
                  <input id="newAccountPassword" type="password" placeholder="password" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                  <input id="newAccountPasswordConfirmation" type="password" placeholder="confirm password" class="form-control">
                </div>
              </div>
            </form>
          </div>
          <!-- close form container-->
          <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
            <button type="button" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
