{% extends 'default/baseuser.html' %}
{% block content %}
    <div class="row page-header" id="services-page-header">
        <h1>Our Services</h1>
    </div>

    <div class="row" id="service-list">
        <div class="col-sm-6" id="rent-service">
            <img src="img/rent-service-icon.svg">
            <div class="col-xs-12">
                <h2>Rent Service</h2>
                <p>Keep your book, keep the profits</p>
            </div>
            <div class="explainer">
                <h4>You have books</h4>
                <p>Lots and lots of books and no use for any of them. You've held off on selling them back to the bookstore and Amazon because you'll only get back a fraction of what you paid. So, you come to Textrade.</p>

                <p>Keep the book, keep the profit, keep the power.</p>
                <button class="btn btn-default">Get Started</button>
            </div>
        </div>
        <div class="col-sm-6" id="trade-service">
            <img src="img/trade-service-icon.svg">
            <div class="col-xs-12">
                <h2>Trade Service</h2>
                <p>Get what you need by getting rid of what you don't</p>
            </div>
            <div class="explainer">
                <h4>You have books but not the ones you need</h4>
                <p>Chances are, there's a student out there that needs your book, and theres a student out there with a book you need. Get in on the deals by posting your unwanted book up for trade.</p>

                <p>Get what you need, but trading in what you don't.</p>
                <button class="btn btn-default learn-more"><a href="#" data-toggle="modal" data-target="#create-account-modal">Get Started</a></button>
            </div>

        </div>
    </div>

    <div class="row" id="testimonials">
        <h2>Testemonials</h2>
        <div class="col-sm-4 even">
            <h3>"Texttrade gives me the ability to make a profit</h3>
            <p>Appellat e quem qui velit aliquip se nisi esse. Ad enim ullamco excepteur, nisi pariatur nam cohaerescant, ut ea esse consequat a incurreret noster fabulas. Deserunt duis non laboris graviterque ut ipsum id quamquam ne cillum.</p>
            <p class="quote-author">Joe from Idaho</p>
        </div>
        <div class="col-sm-4 odd">
            <h3>"so much better than Amazon!"</h3>
            <p>Appellat e quem qui velit aliquip se nisi esse. Ad enim ullamco excepteur, nisi pariatur nam cohaerescant, ut ea esse consequat a incurreret noster fabulas. Deserunt duis non laboris graviterque ut ipsum id quamquam ne cillum, sint coniunctione aliquip tamen incididunt ex quem ita se fore quibusdam a ut dolor litteris mandaremus ita amet commodo ab quis legam te a summis ad elit, appellat aut quibusdam.</p>
            <p class="quote-author">Joe from Idaho</p>
        </div>
        <div class="col-sm-4 even">
            <h3>"I love Textrade!"</h3>
            <p>Appellat e quem qui velit aliquip se nisi esse. Ad enim ullamco excepteur, nisi pariatur nam cohaerescant, ut ea esse consequat a incurreret noster fabulas. Deserunt duis non.</p>
            <p class="quote-author">Joe from Idaho</p>
        </div>
    </div>
{% endblock %}