{% extends 'default/base.html' %}
{% block content %}
    <!-- - write content here-->
    <<div class="row page-header theTeam">
      <div class="col-xs-12 col-sm-6">
        <h1 class="page-title">The Team</h1>
      </div>
    </div>
    <div class="center-some row odd">
      <div class="col-xs-12 stay-top col-md-8 col-md-offset-2">
        <h1>Management: <span>Business Savy Brainiacs</span></h1>
        <hr>
      </div>
      <div class="col-xs-12 col-md-8 col-md-offset-2">
        <div class="col-xs-12 col-sm-6">
          <div id="circular-1" class="circular"></div>
          <h2>Brittany A. Morris</h2>
          <p class="grow">Co-founder</p><br>
          <p>All hands on deck!</p>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div id="circular-2" class="circular"></div>
          <h2>Chris Tribou</h2>
          <p class="grow">Co-founder</p><br>
          <p>Books are my booty aaarg</p>
        </div>
      </div>
    </div>
    <div class="center-some row even">
      <div class="col-xs-12 stay-top col-md-8 col-md-offset-2">
        <h1>Web Developers: <span>Fueled By Hot Sauce</span></h1>
        <hr>
      </div>
      <div class="col-xs-12 col-md-8 col-md-offset-2">
        <div class="col-xs-12 col-sm-6">
          <div id="circular-4" class="circular"></div>
          <h2>Daniel</h2>
          <p class="grow">Back-End Master</p><br>
          <p>Fluent in Python and all things magical.</p>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div id="circular-3" class="circular"></div>
          <h2>Nina</h2>
          <p class="grow">Front-End</p><br>
          <p>Getting groovy with Jade and Sass</p>
        </div>
      </div>
    </div>

{% endblock %}