<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="http://127.0.0.1:5000/static/email/main.css">
  </head>
  <body>
    <div class="email-wrapper">
      <div class="header">
        <h1>Textrade Logo</h1>
      </div>
      <div class="message">
        <h2>Hi {{ name }}</h2>
        {% if centi == 1 %}
            <p>Thanks for verifying your account. You're all set to start using Textrade</p><br>
        {% else %}
            <p>You've successfully reset your password.</p>
        {% endif %}
      </div>
      <div class="footer"><img src="http://127.0.0.1:5000/static/email/logoBW.png" style="margin:auto">
        <p class="unsubscribe">We know, it's not you, it's us. If you'd like us to give you some space, just <a>unsubscribe</a></p>
      </div>
    </div>
  </body>
</html>