//- Verify an account
extends ../template.jade
//- Where you write the content
block content
  h2 Hi John
  p a) Thanks for verifying your account. You're all set to start using Textrade
  br
  p b) You've successfully reset your password.
