// Modal: Forgot Password
#forgot-password-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        h3#myModalLabel.modal-title Register with Textrade
      .modal-body
        p Aw shucks! You forgot your email. Fret not! Enter your email address below to get started.
        br
        form.form-horizontal
          .form-group
            label.col-sm-3.control-label(for='forgotPasswordEmail') Email
            .col-sm-9
              input#forgotPasswordEmail.form-control(type='email', placeholder='Account Email')
      // close form container
      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Close
        button.btn.btn-primary(type='button') Submit
