{% extends 'dashboard/dashboard_base.html' %}
{% block content %}
    <div id="page-wrapper">
      <div class="row">
        <h1 class="page-header">Account History</h1>
        <div class="col-xs-12 col-md-6">
              <h3>Recent History</h3>
          <!-- template for updates -->
          <hr>
          <p><strong>Nov. 21, 2015 - Rental Payment Recieved </strong></p>
          <p class="text-muted">@Username successfully paid $45 to rent <i>Advanced Algebra</i> for the semester.<br>Your profit has been added to your paypal account</p>
          <!-- end template -->
          <hr>
          <p><strong>Nov. 20, 2015 - Accepted Rental Request </strong></p>
          <p class="text-muted">Agreed to rent <i>Advanced Algebra</i> to @Username for $45/semester</p>
          <hr>
          <p><strong>Nov. 16, 2015 - Rental Request Processed</strong></p>
          <p class="text-muted">We've successfully proccessed your textbook <i>Advanced Algebra</i>. It is now available on the textrade market to rent for $45/semester</p>
        </div>
      </div>
      <!-- /.row -->
      <div class="row">
                  </div>
        <!-- Modal: Accept Rental Request -->
        <div class="modal fade" id="accept-rental-request" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h3 class="modal-title" id="myModalLabel">Accept Rental Request: Confirmation</h3>
                    </div>
                    <p style="padding: 20px;">Are you sure you want accept the following rental request?</p>
                    <ul>
                        <li><strong>Title:</strong> Advanced Mathematics</li>
                        <li><strong>Cost:</strong> $55/semester</li>
                        <li><strong>To:</strong> @username</li>
                    </ul>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Confirm Rental</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal: Decline Rental Request -->
        <div class="modal fade" id="decline-rental-request" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h3 class="modal-title" id="myModalLabel">Decline Rental Request: Confirmation</h3>
                    </div>
                    <p style="padding: 20px;">Are you sure you want to decline the following rental request?</p>
                    <ul>
                        <li><strong>Title:</strong> Advanced Mathematics</li>
                        <li><strong>Cost:</strong> $55/semester</li>
                        <li><strong>To:</strong> @username</li>
                    </ul>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Yes, Decline Request</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal: Delete Rental Request -->
        <div class="modal fade" id="delete-rental-request" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h3 class="modal-title" id="myModalLabel">Delete Rental Request: Confirmation</h3>
                    </div>
                    <p style="padding: 20px;">Are you sure you want to delete the following rental request?</p>
                    <ul>
                        <li><strong>Title:</strong> Advanced Mathematics</li>
                        <li><strong>Cost:</strong> $55/semester</li>
                        <li><strong>To:</strong> @username</li>
                    </ul>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Yes, Delete Request</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-wrapper -->
{% endblock %}