{% extends 'dashboard/dashboard_base.html' %}
{% block content %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Trade Listings</h1>
                <p style="margin-bottom:50px;">Below are the books that you have listed as avialable for trade, as well as the books you would like to receive through the trades.<br><br>Trades matches are automatically found through the TextTrade database. Once a trade has been found you will be notified and able to accept or decline any trade offers. See your current trade offers <a href='#'>here</a>.</p>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <!-- Books users are offering in trades -->
            <h3>Books Available for Trade</h3>
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-book fa-fw"></i> Books You've Listed as <strong>Available for Trade</strong>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th>Date</th>
                                                <th>Title</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>10/21/2013</td>
                                                <td>{Smothing really long that takes a while to say.}</td>
                                                <td style="text-align:center;"><button type="button" class="btn btn-warning btn-circle" data-toggle="modal" data-target="#removal-listing-confirmation-modal"><i class="fa fa-times"></i></button></td>
                                            </tr>
                                            <tr>
                                                <td>10/21/2013</td>
                                                <td>3:20 PM</td>
                                                <td style="text-align:center;"><button type="button" class="btn btn-warning btn-circle" data-toggle="modal" data-target="#removal-listing-confirmation-modal"><i class="fa fa-times"></button></td>
                                            </tr>
                                            <tr>
                                                <td>10/21/2013</td>
                                                <td>3:03 PM</td>
                                                <td style="text-align:center;"><button type="button" class="btn btn-warning btn-circle" data-toggle="modal" data-target="#removal-listing-confirmation-modal"><i class="fa fa-times"></button></td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td><input type="text" class="form-control" id="list-book-for-trade" placeholder="Add a book by typing in the ISBN"></td>
                                                <td style="text-align:center;"><button type="button" class="btn btn-info btn-circle" data-toggle="modal" data-target="#add-listing-confirmation-modal"><i class="fa fa-check"></i></button></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.table-responsive -->
                            </div>
                            <!-- /.col-lg-8 (nested) -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.panel-body -->
                </div>
            </div>
            <!-- Books users want in return for trades -->
            <h3>Books You'd Like to Recieve in Trade</h3>
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-book fa-fw"></i> Books You're Looking to <strong>Recieve In Trades</strong>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th>Date</th>
                                                <th>Title</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>10/21/2013</td>
                                                <td>{Smothing really long that takes a while to say.}</td>
                                                <td style="text-align:center;"><button type="button" class="btn btn-warning btn-circle" data-toggle="modal" data-target="#removal-listing-confirmation-modal"><i class="fa fa-times"></i></button></td>
                                            </tr>
                                            <tr>
                                                <td>10/21/2013</td>
                                                <td>3:20 PM</td>
                                                <td style="text-align:center;"><button type="button" class="btn btn-warning btn-circle" data-toggle="modal" data-target="#removal-listing-confirmation-modal"><i class="fa fa-times"></button></td>
                                            </tr>
                                            <tr>
                                                <td>10/21/2013</td>
                                                <td>3:03 PM</td>
                                                <td style="text-align:center;"><button type="button" class="btn btn-warning btn-circle" data-toggle="modal" data-target="#removal-listing-confirmation-modal"><i class="fa fa-times"></button></td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td><input type="text" class="form-control" id="list-book-for-trade" placeholder="Add a book by typing in the ISBN"></td>
                                                <td style="text-align:center;"><button type="button" class="btn btn-info btn-circle" data-toggle="modal" data-target="#add-listing-confirmation-modal"><i class="fa fa-check"></i></button></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.table-responsive -->
                            </div>
                            <!-- /.col-lg-8 (nested) -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.panel-body -->
                </div>
            </div>
        </div>
        <!-- Modal: Remove Listing Confirmation -->
        <div class="modal fade" id="removal-listing-confirmation-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h3 class="modal-title" id="myModalLabel">Confirmation</h3>
                    </div>
                    <p style="padding: 20px;">Are you sure you want to remove {BOOK TITLE} from your available books for trade?</p>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Remove Listing</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#removal-listing-confirmation-modal -->
        <!-- Modal: Add Listing Confirmation -->
        <div class="modal fade" id="add-listing-confirmation-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h3 class="modal-title" id="myModalLabel">Add Title Confirmation</h3>
                    </div>
                    <p style="padding: 20px;">Are you sure you want to add {BOOK TITLE} to your available books for trade?</p>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Add Listing</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-wrapper -->
{% endblock %}