{% extends 'dashboard/dashboard_base.html' %}
{% from "dashboard/modals/add_have_book.html" import add_have_book %}
{% from "dashboard/modals/add_want_book.html" import add_want_book %}
{% from "dashboard/modals/remove_trade_book.html" import remove_have_book, remove_want_book %}
{% block content %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Trade Listings</h1>
                <p style="margin-bottom:50px;">Below are the books that you have listed as avialable for trade, as well as the books you would like to receive through the trades.<br><br>Trades matches are automatically found through the TextTrade database. Once a trade has been found you will be notified and able to accept or decline any trade offers. See your current trade offers <a href='#'>here</a>.</p>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <!-- Books users are offering in trades -->
            <h3>Books Available for Trade</h3>
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-book fa-fw"></i> Books You've Listed as <strong>Available for Trade</strong>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            {% if have_books[0] %}
                                                <tr>
                                                    <th>Date</th>
                                                    <th>Title</th>
                                                    <th>Action</th>
                                                </tr>
                                            {% endif %}
                                        </thead>
                                        <tbody>
                                            {% for have in have_books %}
                                                <tr>
                                                    <td>{{ have.date_to_formatted_string() }}</td>
                                                    <td>{{ have.name }}</td>
                                                    <td style="text-align:center;"><button type="button" class="btn btn-warning btn-circle" data-toggle="modal" data-target="#remove-have-book-{{ have.id }}"><i class="fa fa-times"></i></button></td>
                                                </tr>
                                                {{ remove_have_book(have) }}
                                            {% endfor %}
                                            <tr>
                                                {% if have_books[0] %}
                                                    <td></td>
                                                {% endif %}
                                                <td>
                                                    <form method="post" action="{{ url_for('add_have_book') }}" id="have-form">
                                                        {{ add_have_trade_book_form.hidden_tag() }}
                                                        {{ add_have_trade_book_form.isbn(class="form-control", placeholder="Add a book by typing in the ISBN") }}
                                                    </form>
                                                </td>
                                                <td style="text-align:center;"><button type="button" class="btn btn-info btn-circle" data-toggle="modal" data-target="#add-have-book-confirmation-modal"><i class="fa fa-check"></i></button></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.table-responsive -->
                            </div>
                            <!-- /.col-lg-8 (nested) -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.panel-body -->
                </div>
            </div>
            <!-- Books users want in return for trades -->
            <h3>Books You'd Like to Recieve in Trade</h3>
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-book fa-fw"></i> Books You're Looking to <strong>Recieve In Trades</strong>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            {% if want_books[0] %}
                                                <tr>
                                                    <th>Date</th>
                                                    <th>Title</th>
                                                    <th>Action</th>
                                                </tr>
                                            {% endif %}
                                        </thead>
                                        <tbody>
                                            {% for want in want_books %}
                                                <tr>
                                                    <td>{{ want.date_to_formatted_string() }}</td>
                                                    <td>{{ want.name }}</td>
                                                    <td style="text-align:center;"><button type="button" class="btn btn-warning btn-circle" data-toggle="modal" data-target="#remove-want-book-{{ want.id }}"><i class="fa fa-times"></i></button></td>
                                                </tr>
                                                {{ remove_want_book(want) }}
                                            {% endfor %}
                                                <tr>
                                                    {% if want_books[0] %}
                                                        <td></td>
                                                    {% endif %}
                                                    <td>
                                                        <form method="post" action="{{ url_for('add_want_book') }}" id="want-form">
                                                            {{ add_want_trade_book_form.hidden_tag() }}
                                                            {{ add_want_trade_book_form.isbn(class="form-control", placeholder="Add a book by typing in the ISBN") }}
                                                        </form>
                                                    </td>
                                                    <td style="text-align:center;">
                                                        <button type="button" class="btn btn-info btn-circle" data-toggle="modal" data-target="#add-want-book-confirmation-modal"><i class="fa fa-check"></i></button>
                                                    </td>
                                                </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.table-responsive -->
                            </div>
                            <!-- /.col-lg-8 (nested) -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.panel-body -->
                </div>
            </div>
        </div>
        {{ add_have_book() }}
        {{ add_want_book() }}
    </div>
    <!-- /#page-wrapper -->
{% endblock %}