nav
  background: white
  margin: 0
  padding: 0
  margin-bottom: 150px
.navbar
  background: white
  .container-fluid
    background: white
    max-width: 1080px
    .navbar-header, .navbar-collapse
      background: white
      button, a
        color: black
      ul
        @media (min-width: 786px)
          margin-left: 50px
        a
          color: black
      form
        @media (min-width: 786px)
          float: right
