.carousel-example-generic {
  background: white; }

.carousel-inner {
  height: 400px;
  margin-top: 75px; }

#quick-about {
  text-align: center;
  background: #028090;
  color: white; }
  #quick-about h2 {
    font-family: Oswald, sans-serif; }
  #quick-about h3 {
    font-weight: 300; }
  #quick-about button {
    margin-top: 15px; }

#quick-blurbs {
  border-top: solid 5px #02c39a;
  border-bottom: solid 5px #02c39a; }
  #quick-blurbs .blurb {
    text-align: center; }
    #quick-blurbs .blurb img {
      height: 100px;
      margin: auto; }
    #quick-blurbs .blurb h3 {
      font-family: Oswald, sans-serif; }
    #quick-blurbs .blurb p {
      padding: 0 20%; }
    @media (min-width: 768px) {
      #quick-blurbs .blurb p {
        padding: 0; } }

#create-account-modal {
  color: black;
  text-align: left; }
  #create-account-modal h3 {
    text-align: center;
    margin-bottom: 15px;
    font-weight: 300;
    color: #05668d; }
  #create-account-modal input {
    width: 100%;
    height: 44px;
    font-size: 1.3em;
    -webkit-appearance: none;
    background: #fff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    border: none;
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 5px 0;
    font-weight: 300; }
  #create-account-modal #submit {
    width: 100%;
    display: block;
    margin: 10px 0;
    position: relative;
    background: #02c39a;
    color: white;
    border: none; }
    #create-account-modal #submit:hover {
      letter-spacing: 1px; }
  #create-account-modal .modal-body {
    max-width: 350px;
    margin: auto; }
    #create-account-modal .modal-body form {
      width: 350px; }

#login-page-row {
  background: url(../../img/books-magazines-building-school.jpg) center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  top: 0;
  position: relative; }

#login-wrap {
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  width: 350px;
  padding: 20px 0px;
  height: auto;
  background: #f2f2f2;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  opacity: 1; }
  #login-wrap #login-dialog {
    background: white;
    border-radius: 5px;
    width: 90%;
    margin: auto;
    padding: 10% 5%;
    opacity: 1; }
    #login-wrap #login-dialog h3 {
      text-align: center;
      margin-bottom: 5px;
      font-weight: 300;
      color: #02c39a;
      font-family: Open Sans, sans-serif; }
    #login-wrap #login-dialog form {
      margin: auto;
      margin-top: 40px;
      width: 90%;
      height: 200px; }
      #login-wrap #login-dialog form input {
        width: 100%;
        height: 44px;
        font-size: 1.3em;
        -webkit-appearance: none;
        background: #fff;
        border: none;
        padding: 0 8px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        margin: 5px 0;
        font-weight: 300; }
      #login-wrap #login-dialog form #submit {
        width: 100%;
        display: block;
        margin: 15px 0;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
        position: relative;
        background: #02c39a;
        color: white;
        border: none; }
        #login-wrap #login-dialog form #submit:hover {
          letter-spacing: 1px; }
      #login-wrap #login-dialog form #login-help {
        font-size: 12px;
        text-align: center; }
  #login-wrap .modal-body {
    max-width: 350px;
    margin: auto; }
    #login-wrap .modal-body form {
      width: 350px; }

.page-header {
  text-align: center; }
  .page-header h1 {
    font-family: Oswald, sans-serif; }

#team-member-profiles {
  color: #323232;
  background: #eaeaea;
  background: -webkit-linear-gradient(top, white, white, #d6d6d6);
  background: -o-linear-gradient(top, white, white, #d6d6d6);
  background: -moz-linear-gradient(top, white, white, #d6d6d6);
  background: linear-gradient(to bottom, white, white, #d6d6d6); }
  #team-member-profiles .team-member {
    text-align: left; }
    #team-member-profiles .team-member .circular {
      width: 160px;
      height: 160px;
      border-radius: 80px;
      -webkit-border-radius: 80px;
      -moz-border-radius: 80px;
      background: url(../../img/tm-1.jpg) center;
      background-size: 100%;
      background-repeat: no-repeat;
      margin: auto; }
      #team-member-profiles .team-member .circular img {
        width: 300px;
        height: auto;
        border-radius: 150px;
        -webkit-border-radius: 150px;
        -moz-border-radius: 150px; }
    #team-member-profiles .team-member h3 {
      font-family: Oswald, sans-serif; }
  #team-member-profiles .developers {
    text-align: center;
    padding-top: 25px; }
    #team-member-profiles .developers h3, #team-member-profiles .developers h4 {
      font-family: Oswald, sans-serif; }

#mission {
  color: #323232; }
  @media (min-width: 768px) {
    #mission {
      padding: 10% 20%; } }
  #mission h1 {
    margin-bottom: 25px;
    font-weight: 300;
    font-family: Oswald, sans-serif;
    text-align: center; }
    @media (min-width: 768px) {
      #mission h1 {
        margin-top: 0; } }
  #mission h4 {
    padding: 0 5%; }
  #mission .btn {
    background: none;
    border: solid 3px #323232;
    margin-top: 5%;
    padding: 5px 25px;
    color: #323232; }
    #mission .btn:hover {
      opacity: 0.9; }
    #mission .btn a {
      color: #323232;
      font-weight: 500;
      font-family: Oswald, sans-serif;
      font-size: 18px; }

#footer {
  text-align: center;
  color: white;
  background: #323232;
  padding-bottom: 15px;
  margin-bottom: 0;
  font-size: 12px; }
  #footer h2 {
    font-family: Oswald, sans-serif;
    font-weight: 300; }
  #footer p {
    font-weight: 300; }
  #footer #site-actions {
    width: 80%;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 15px;
    font-weight: 300;
    font-size: 12px; }
    #footer #site-actions td {
      width: 25%;
      text-align: left;
      padding: 3px 0; }
    #footer #site-actions #main-actions {
      font-size: 14px;
      font-weight: 500;
      color: white; }
  #footer #copyright {
    margin-top: 10px; }

.navbar, .navbar-default, .navbar-fixed-top {
  background: white;
  color: black;
  border: none;
  margin-bottom: 50px;
  box-shadow: 0 4px 3px -3px #b2b2b2; }
  .navbar .container-fluid, .navbar-default .container-fluid, .navbar-fixed-top .container-fluid {
    background: white;
    color: black; }
    .navbar .container-fluid .navbar-header, .navbar-default .container-fluid .navbar-header, .navbar-fixed-top .container-fluid .navbar-header {
      background: white;
      color: black; }
      .navbar .container-fluid .navbar-header button, .navbar-default .container-fluid .navbar-header button, .navbar-fixed-top .container-fluid .navbar-header button {
        background: white; }
        .navbar .container-fluid .navbar-header button span, .navbar-default .container-fluid .navbar-header button span, .navbar-fixed-top .container-fluid .navbar-header button span {
          background: black; }
      .navbar .container-fluid .navbar-header .navbar-brand, .navbar-default .container-fluid .navbar-header .navbar-brand, .navbar-fixed-top .container-fluid .navbar-header .navbar-brand {
        color: black;
        width: 200px; }
    .navbar .container-fluid navbar-collapse ul li a, .navbar .container-fluid #bs-example-navbar-collapse-1 ul li a, .navbar-default .container-fluid navbar-collapse ul li a, .navbar-default .container-fluid #bs-example-navbar-collapse-1 ul li a, .navbar-fixed-top .container-fluid navbar-collapse ul li a, .navbar-fixed-top .container-fluid #bs-example-navbar-collapse-1 ul li a {
      background: white;
      color: black;
      font-family: Open Sans, sans-serif;
      font-weight: 300; }

#rent-actions-wrap {
  background: url(../../img/blur-old-antique-book.jpg) center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  top: 0;
  position: relative; }
  #rent-actions-wrap .rent-actions {
    color: #4c4c4c;
    margin-top: 55px;
    padding: 0 5%; }
    @media (min-width: 768px) {
      #rent-actions-wrap .rent-actions {
        margin-top: 70px; } }
    #rent-actions-wrap .rent-actions .text-wrap {
      height: 200px;
      /* Small devices (tablets, 768px and up) */
      /* Medium devices (desktops, 992px and up) */ }
      @media (min-width: 768px) {
        #rent-actions-wrap .rent-actions .text-wrap {
          height: 180px; } }
      @media (min-width: 992px) {
        #rent-actions-wrap .rent-actions .text-wrap {
          height: 120px; } }
      #rent-actions-wrap .rent-actions .text-wrap h2 {
        font-family: Oswald, sans-serif;
        margin-bottom: 15px;
        color: #323232; }
    #rent-actions-wrap .rent-actions .btn {
      background: none;
      border: solid 3px white;
      margin-top: 5%;
      padding: 5px 25px;
      color: white; }
      #rent-actions-wrap .rent-actions .btn:hover {
        opacity: 0.9; }
      #rent-actions-wrap .rent-actions .btn a {
        color: white;
        font-weight: 500;
        font-family: Oswald, sans-serif;
        font-size: 18px; }
      @media (min-width: 992px) {
        #rent-actions-wrap .rent-actions .btn {
          border: solid 3px #323232;
          color: #323232;
          margin-top: 0; }
          #rent-actions-wrap .rent-actions .btn a {
            color: #323232; } }

.create-account-include {
  text-align: center;
  padding-top: 10%;
  font-weight: 300;
  color: white; }
  .create-account-include a {
    color: white;
    text-decoration: underline; }

#rent-FAQ .panel-group .panel-heading {
  background: #e5e5e5; }
#rent-FAQ .panel-group .panel-collapse {
  border: #e5e5e5; }

#rent-page-header {
  background: url(../../img/blur-old-antique-book.jpg) center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  top: 0;
  position: relative;
  height: 200px; }

#rent-form-wrap {
  background: inherit; }
  #rent-form-wrap .col-xs-12 {
    padding: 2% 5%;
    background: white;
    border-radius: 5px;
    border: solid 1px #efefef;
    box-shadow: 0px 4px 2px -2px #efefef; }
    #rent-form-wrap .col-xs-12 #rent-form-explainer {
      max-width: 550px;
      padding: 5px 15px;
      margin: auto;
      /* Small devices (tablets, 768px and up) */ }
      #rent-form-wrap .col-xs-12 #rent-form-explainer h2 {
        font-family: Oswald, sans-serif;
        color: #00a896; }
      #rent-form-wrap .col-xs-12 #rent-form-explainer p {
        color: grey; }
      @media (min-width: 768px) {
        #rent-form-wrap .col-xs-12 #rent-form-explainer {
          margin: 0;
          padding-bottom: 15px;
          box-shadow: 0 4px 2px -2px #efefef;
          margin-bottom: 40px; } }
  #rent-form-wrap #image-select #book-cover-image {
    height: 250px;
    width: 175px;
    border: solid 1px grey;
    margin: auto; }
  #rent-form-wrap #image-select button {
    margin: auto; }
  #rent-form-wrap #rent-form form {
    width: auto;
    margin: auto; }
  #rent-form-wrap #rent-form .fix-margin input {
    margin: 10px 0; }
  #rent-form-wrap #rent-form textarea {
    margin: 10px 0; }
  #rent-form-wrap #rent-form h2 {
    margin-top: 50px; }
  #rent-form-wrap #rent-form p {
    margin-bottom: 35px; }

#rent-FAQ {
  /* Small devices (tablets, 768px and up) */ }
  #rent-FAQ h2 {
    font-family: Oswald, sans-serif;
    color: #00a896; }
  #rent-FAQ .panel .panel-heading {
    background: #efefef;
    color: #323232; }
    #rent-FAQ .panel .panel-heading .panel-title {
      font-weight: 500;
      border: none; }
  @media (min-width: 768px) {
    #rent-FAQ {
      padding: 0 15%; } }

#rent-search-header {
  text-align: center; }
  #rent-search-header form {
    width: 90%; }
    #rent-search-header form input {
      width: 400px; }

#search-results .search-keywords {
  font-style: italic;
  color: grey; }
#search-results .results-number {
  padding-left: 50px;
  font-weight: 600;
  color: #02c39a; }
#search-results #filter {
  background-color: #f7f9f8;
  margin-top: 50px;
  border-radius: 4px; }
  #search-results #filter form {
    padding: 5px; }
    #search-results #filter form .filter-label {
      padding-left: 10px;
      margin-top: 10px; }
#search-results #results {
  padding-left: 50px; }
  #search-results #results #results-header {
    border-bottom: solid 3px #02c39a;
    margin-bottom: 20px; }
  #search-results #results .result-instance {
    width: 100%;
    border-bottom: solid 1px #d8e1de; }
    #search-results #results .result-instance .result-cover-image img {
      max-width: 120px;
      max-height: 175px;
      margin: auto; }
    #search-results #results .result-instance a {
      color: #05668d; }

#trade-actions-wrap {
  background: url(../../img/blur-old-antique-book.jpg) center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  top: 0;
  position: relative;
  height: 200px; }

.step {
  margin: 50px 0 30px 0; }
  .step span {
    color: #02c39a; }
  .step p {
    margin-right: 55%;
    padding-bottom: 10px;
    border-bottom: solid 1px #b2b2b2; }

.trade-column {
  /* Small devices (tablets, 768px and up) */ }
  .trade-column .add-line {
    height: 50px; }
    .trade-column .add-line .add-button {
      height: 20px;
      width: 20px;
      border-radius: 10px;
      margin: 15px 0;
      background: #02c39a;
      color: white;
      text-align: center; }
  .trade-column input {
    height: 40px;
    margin: 5px 0; }
  @media (min-width: 786px) {
    .trade-column {
      padding: 0 10%; }
      .trade-column form {
        padding-left: 5%; }
        .trade-column form input {
          width: 200px; } }

#books-to-trade {
  border-right: solid 1px #efefef; }

#trade-request-confirmation .alert {
  width: 450px;
  margin: auto; }

#service-list h2, #service-list h4 {
  font-family: Oswald, sans-serif; }
#service-list img {
  max-height: 200px; }
#service-list #rent-service {
  border-left: solid 5px #02c39a; }
#service-list #trade-service {
  border-right: solid 5px #68b0ab;
  padding-left: 20%; }
#service-list #rent-service, #service-list #trade-service {
  margin: 50px 0; }
  #service-list #rent-service .col-xs-12, #service-list #trade-service .col-xs-12 {
    padding: 0; }
    #service-list #rent-service .col-xs-12 .btn, #service-list #trade-service .col-xs-12 .btn {
      text-align: center;
      align-content: center;
      margin: auto; }
#service-list .explainer {
  margin-top: 40px;
  padding-bottom: 15px; }
@media (min-width: 768px) {
  #service-list img {
    width: 70%;
    height: auto;
    margin: 0 15%;
    border-bottom: solid 5px #02c39a; }
  #service-list #rent-service, #service-list #trade-service {
    width: 40%;
    margin: 0 5%;
    border-left: none; }
    #service-list #rent-service .explainer, #service-list #trade-service .explainer {
      padding-left: 5%; }
  #service-list #trade-service {
    border-right: none;
    padding-left: 0; } }

#testimonials {
  background: #05668d;
  color: white; }
  #testimonials h2, #testimonials h3 {
    font-family: Oswald, sans-serif; }
  #testimonials h2 {
    border-bottom: 25px; }
  #testimonials p {
    font-size: 13px;
    padding-left: 5px; }
  #testimonials .quote-author {
    text-align: right;
    font-style: italic; }
  #testimonials .col-xs-6 {
    padding: 0 25px; }
  #testimonials .even {
    border-left: 5px solid #00a896; }
  #testimonials .odd {
    border-right: 5px solid #02c39a; }
  @media (min-width: 768px) {
    #testimonials h2 {
      text-align: center;
      margin-bottom: 25px; }
    #testimonials .even {
      border-top: 5px solid #00a896;
      border-left: 0; }
    #testimonials .odd {
      border-top: 5px solid #02c39a;
      border-right: 0; } }

.dashboard-wrap span {
  margin-left: 10px;
  background-color: #05668d; }
.dashboard-wrap .money {
  background-color: #02c39a; }
.dashboard-wrap #dashboard-menu {
  float: left; }
  .dashboard-wrap #dashboard-menu h3 {
    font-family: Oswald, sans-serif; }
  .dashboard-wrap #dashboard-menu a {
    width: 100%;
    display: inline-block;
    margin: 8px 0; }
  .dashboard-wrap #dashboard-menu button {
    margin: 8px 0; }
.dashboard-wrap h3, .dashboard-wrap h4 {
  font-family: Oswald, sans-serif; }
.dashboard-wrap .dash-box {
  margin: 10px 0;
  float: right; }
  .dashboard-wrap .dash-box p {
    margin-left: 5%;
    padding-right: 15%;
    color: grey; }
  .dashboard-wrap .dash-box table {
    width: 90%;
    margin-left: 10%;
    margin-top: 15px;
    height: auto; }
    .dashboard-wrap .dash-box table td {
      padding-top: 5px; }
    .dashboard-wrap .dash-box table #table-heading td {
      color: #05668d;
      border-bottom: solid 1px #efefef; }
    .dashboard-wrap .dash-box table .title {
      font-style: italic; }
    .dashboard-wrap .dash-box table .remove {
      color: red; }

.searchbar {
  background: #323232; }

body {
  font-family: Open Sans, sans-serif;
  padding: 0;
  margin: 0; }

#page-wrap {
  padding: 0;
  margin: 0; }

nav {
  width: 100%; }

.row {
  padding: 5% 10%; }

.row-special {
  padding: 5% 0; }

p {
  font-size: 14px; }

h1 {
  font-size: 6em; }

/*# sourceMappingURL=main.css.map */
