#rent-page-header
    background: url(../../img/blur-old-antique-book.jpg) center 
    background-size: cover
    background-repeat: no-repeat
    text-align: center
    top: 0
    position: relative
    height: 200px
#rent-form-wrap 
    background: inherit
    // the rental form dialog
    .col-xs-12
        padding: 2% 5%
        background: white
        border-radius: 5px
        border: solid 1px #efefef
        box-shadow: 0px 4px 2px -2px #efefef
        #rent-form-explainer
            max-width: 550px
            padding: 5px 15px
            margin: auto
            h2
                font-family: Oswald, sans-serif
                color: $sea-green
            p
                color: grey
            /* Small devices (tablets, 768px and up) */
            @media (min-width: 768px) 
                margin: 0
                padding-bottom: 15px
                box-shadow: 0 4px 2px -2px #efefef
                margin-bottom: 40px
                
    #image-select
        #book-cover-image
            height: 250px
            width: 175px
            border: solid 1px grey
            margin: auto
        button
            margin: auto
    #rent-form 
        form
            width: auto
            margin: auto
        .fix-margin
            input
                margin: 10px 0
        textarea
            margin: 10px 0
        h2
            margin-top: 50px
        p
            margin-bottom: 35px 
#rent-FAQ
    h2 
        font-family: Oswald, sans-serif
        color: $sea-green
    .panel
        .panel-heading
            background: #efefef
            color: $black
            .panel-title
                font-weight: 500
                border: none
    /* Small devices (tablets, 768px and up) */
    @media (min-width: 768px)             
        padding: 0 15%