// theme one
$blue: #05668d
$off-blue: #028090
$sea-green: #00a896
$sea-foam: #02c39a
$black: #323232

// theme two
$beige: #faf3dd
$beige-green: #c8d5b9
$light-green: #8fc0a9
$light-blue: #68b0ab
$seaweed-green: #4a7c59

$font-stack: Open Sans, sans-serif
$font-stack: Oswald, sans-serif