#footer.row
  footer.col-xs-12.col-sm-6.col-sm-offset-3
    h2 Textrade
    h4 An Educated Book Buying Market
    ul.col-xs-12.col-sm-3
      li About Us
      li The Team
    ul.col-xs-12.col-sm-3
      li Services
      li Rent
      li Trade
    ul.col-xs-12.col-sm-3
      li Search Marketplace
      li Login  
    ul.col-xs-12.col-sm-3
      li Contact 
      li Donate        
    p.col-xs-12#copyright Copyright (c) 2015 Textrade All Rights Reserved.
// close .container-fluid
// jQuery (necessary for Bootstrap's JavaScript plugins)
script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
// Include all compiled plugins (below), or include individual files as needed
// Latest compiled and minified JavaScript
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
