#footer.row
  footer.col-xs-12.col-sm-6.col-sm-offset-3
    h2 Textrade
    h4 An Educated Book Buying Market
    ul.col-xs-12.col-md-3
      li
        a(href='the-team.html', style='color:white') The Team
      li
        a(href='contact.html', style='color:white') Contact
    ul.col-xs-12.col-md-3
      li
        a(href='our-services.html', style='color:white') Services
      li
        a(href='our-services.html#rent', style='color:white') Rent
      li
        a(href='our-services.html#trade', style='color:white') Trade
    ul.col-xs-12.col-md-3
      li
        a(href='search.html', style='color:white') Marketplace
    ul.col-xs-12.col-md-3
      li
        a(href='login.html', style='color:white') Login
  p.col-xs-12#copyright Copyright (c) 2015 Textrade All Rights Reserved.
// close .container-fluid
// jQuery (necessary for Bootstrap's JavaScript plugins)
script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
// Include all compiled plugins (below), or include individual files as needed
// Latest compiled and minified JavaScript
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
