.listing.col-xs-12
  .col-xs-12
    h3 Book Title
      // put unique book url here
      a(href='#')
    hr
  .col-xs-8
    p ISBN
    p Condition
    P Offered by @username
  .col-xs-4
    P Price $/semester
    a(href='#', data-toggle='modal', data-target='#rentRequestConfirmation') Rent Now
