{% extends 'default/base.html' %}

{% block content %}
    <div class="row">
        <div id="login-wrap">
            <div id="login-dialog">
                <h3>Login</h3>
                    <form>
                        <input type="text" name="user" placeholder="username">
                        <input type="password" name="pass" placeholder="password">
                        <input id="submit" type="submit" name="login" class="login loginmodal-submit" value="Login">
                        <p id="login-help"><a href="#" data-toggle="modal" data-target="#create-account-modal">Create an Account</a><span> | </span><a href="#">Forgot Password</a></p>

                        <!-- Modal -->
                        <div class="modal fade" id="create-account-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel">Register for Textrade</h4>
                                    </div>
                                    <div class="modal-body form-horizontal" id="register-form">
                                        <form>
                                            <input type="text" name="firstName" placeholder="First Name">
                                            <input type="text" name="lastName" placeholder="Last Name">
                                            <input type="text" name="email" placeholder="UML Email">
                                            <!-- must include a quick tid-bit saying why it must be UML -->
                                            <input type="text" name="username" placeholder="Username">
                                            <input type="password" name="password" placeholder="Password">
                                            <input type="password" name="confrimPassword" placeholder="Confirm Your Password">
                                            <input id="submit" type="submit" name="login" class="login loginmodal-submit" value="Login">
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
            </div>
        </div>
    </div>

    <div class="row">
        <footer>
            <h3>This is where we say how awesome we are.</h3>
            <table>
                <tr><td>And</td><td>we</td><td>list</td><td>things</td></tr>
            </table>
        </footer>
    </div>
{% endblock %}
